*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}

/* header */

header{
    height:170px;
    background-color: white;
    position:relative;
}
.logo{
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
}
h1{
    position: absolute;
    top: 20px;
    left: 20%;
    color: #5B48D9;
    font-family: 'Indie Flower', cursive;
}
.margenDiv{
    position: absolute;
    top: 25px;
    right: 20px;;
}
.registro{
    position: absolute;
    top: 120px;
    right: 20px;
}
.color_icono{
    color: #5B48D9;
}
.color_icono_instagram{
    color:rgb(233, 36, 118);
}
.color_icono_youtube{
    color: #F20519;
}

/* body */

/* MAIN */
main{
 position: relative;
}

.barraNavegar{
    position: relative;
}

.elquecontiene_alosdos{
    display: flex;
}
.lista{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
}
.lista li:hover{
    height: 70px; width: 70px;
    color:#04D9C4;
}
.lista li{
    display: flex;
    padding: 5px 5px;
    margin:1px 5px 1px 7px;
    font-family: 'Patrick Hand', cursive;
    color:rgb(233, 36, 118);
}
.lista a {
    color: red;
}

a {
    font-style: oblique;
    color: #F20519;
    font-size: larger;
    text-decoration: none;
}

.lista2{
    list-style-type: none;
    top: 0; 
    position: absolute;
    right:0;
}

.click{
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    margin:1px 5px 1px 7px
}
.click2{
    display: inline-block;
    padding: 5px 5px;
    margin:5px 3px 0 3px;
    position: relative;
}
.boton1{
    padding:3px;
    list-style-type: none;
    border-radius:15px;
    background-color:rgb(230, 55, 55);
    color: black;
    font-size: 30px;
    font-family:'Indie Flower', cursive;
    font-weight: bold;
    margin-right: 11px;
}
.boton2{
    padding:5px;
    list-style-type: none;
    border-radius:15px;
    background-color:rgb(124, 210, 176);
    color: black;
    font-size: 30px;
    font-family:'Indie Flower', cursive;
    font-weight: bold;
}
.volver{
    margin: 0%;
    display: inline-block;
}

.cajaBuscar{
    display: flex;
    top:5px;
    width: 10px;
    height: 50px;
    border-radius: 15px;
    justify-content: flex-end;
    flex-direction: row;
    white-space: nowrap;
}

.section-principal {
    display: flex;
}

.aside-aprender {
    padding: 20px;
}

.aside-noticias {
    padding: 20px;
}

.centro{
    text-align: center;
    padding: 20px;
}

.justificado{
    text-align: justify;
    padding: 20px;
    overflow: hidden;
}

p{
    text-align: justify;
    font-size:20px;
    font-family: 'Varela Round', sans-serif;
}
.pCentro{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 45px;
    color: #5B48D9;
}

.imgCentro{
    border:5px ridge rgb(248, 148,164);
    border-radius: 9px;
    margin: 10px;
}

/* tableronoticias */
.asideClase{
    top:15px;
    width: 40%;
    display: inline-block;
}
.noticia{
    display: flex;
    border-radius: 15px;
    border: 5px solid #04D9C4;
    align-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
    background-image: linear-gradient(bottom, #04D9C4,white );
}
.meteorito_color{
    color:gold;
}

.tituloTabla{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    font-family: 'Indie Flower';
    font-weight: bold;
    color:#F20519
}
.estiloImg{
    width: 60%;
    margin: 15px 10px;
}
.estiloNoticias{
    text-align: center;
}
 /* letras */

.ingresar{
    color:red;
    font-size: 25px;
    font-weight: lighter;
}

.letraIndie{
    font-family: 'Indie Flower', cursive;
}
.letraVarela{
    font-family: 'Varela Round', sans-serif;
}
.letraPatrick{
    font-family: 'Patrick Hand', cursive;
} 



.subMenu{
    font-size: 7px;
    list-style:none;
    margin:0;
    padding:0;
}

/* footer */
.footerClass{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row-reverse;
    cursor: default;
    background-image: url(../img/SF3.png);
    border-top:solid 5px #F20519;
}
.letritas{
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    color: white;
    padding: 7px;
}
.estiloMapa{
    width: 100%;
    height: 100%;
    padding-right: 5px;
    margin:0 5px 5px 5px;
}
.divClass{
    width: 100%;
}
/* informacionpage */
.fotitos{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 70%;
    justify-content: end;
}
.centroInfo{
    text-align: center;
    padding: 20px;
    width: 40%;
}
.divCentral{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* quiero ser parte */
.ser-parte{
    display: inline-block;
    padding: 10px;
}
.etapas{
    position: relative;
}
.etapas div {
    width: 40%;
    margin: 15px;
    border: 1px solid red;
    display: inline-block;
}
.bloque-egreso{
    position: absolute;
    margin-left: 10px;
    right: 0;
}

/* mapa capacitaciones */
/* .info-capacitacion {
    margin-top: 30px;
} */
.info-capacitacion-texto {
    display: inline-block;
    padding: 15px;
    position: relative;
    width: 50%;
    vertical-align:top;
}
.mapa-capacitaciones{
    display: flex;
    right: 0;
}
.capacitacion-derecha{
    width:40%;
    right:0;
    top:0;
    padding: 15px;
    display: inline-block;
}
.carrousel-imagenes{
    display:flex;
    justify-content: center;

}

.img-capacitaciones{
    margin:15px 5px 5px 10px;
    height: 170px;
    top:0;
}
.img-capacitacion {
    height: 170px;
}

.img-capacitacion.taller {
    margin-right: 30px;
}


/* ingresar */

.ingresar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ingresar form {
    height: 160px;
    background-color: white;
    border: 10px solid pink;
    padding: 20px;
    margin: 30px 0px;
}

.ingresar-nombre,
.ingresar-contraseña {
    margin-bottom: 15px;
}
/* Contacto */

.ingresar-contacto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.ingresar-datos{
    width:25%;
}
.ingresar-datos-b{
    width: 25%;
}
.asunto-contacto{
display:inline-block;
width:25%;
position: relative;
margin: 15px;
}
.lista-check-contacto {
    display: flex;
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 768px){
    footer.footerClass{
        display: none;
    }
    header{
        display:flex;
        justify-content: space-between;
    }
    .logo {
        width: 145px;
    }
    h1{
        display:none;
    }
    .ingresar{
        display: flex;
        border-radius: 5px;
        padding: 5px;
        background-color: #04D9C4;
        color:black;
    }
 .card-group{
     display:none;
 }
 .mapa-capacitaciones{
     display:none;
 }
}
@media screen and (max-width: 900px){
    .card-group{
        display:none;
    }
}
