$color-blanco:white;
$color-violeta:#5B48D9;
$color-verde:#04D9C4;
$color-rojo:red;
$color-verde-Boton:#7cd2b0;
$color-meteorito:gold;
$color-rosado:rgb(248, 148,164);
$color-icono-instagram:#e92476;
$color-icono-youtube: #F20519;

$letra-family:'Indie Flower', cursive;
$letra-Varela:'Varela Round', sans-serif;
$letra-Patrick:'Patrick Hand', cursive;
