//COLORES
$color-blanco:white;
$color-violeta:#5B48D9;
$color-verde:#04D9C4;
$color-rojo:#f84239;
$color-verde-Boton:#7cd2b0; 
$color-meteorito:gold;
$color-rosado:rgb(248, 148,164);
$color_white: #fff;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$color-violeta-nav:rgb(139, 160, 228);
$color-nav-bar:#c54b47;
$azul-header:#00548b;
$color-celeste-logo:#577db6;

// colores cards talleres
$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,70%);

//letras

$letra-Patrick:'Patrick Hand', cursive;
$letra-patrick-2: 'Patrick Hand SC', cursive;
$letra-nunito:'Nunito', sans-serif;
$letra-nunito-sans:'Nunito Sans', sans-serif;


$carousel-control-width:15%;
$carousel-caption-width:30%;

$font-weight-normal:400;

/* mixing */
@mixin flex ($display, $horizontal, $contenido) {
    display: $display;
    justify-content: $horizontal;
    align-items: $contenido;
}
/* extend */
%sombra{
 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
%texto{
    font-weight: 400;
    color:#000000;
}

%borde {
    border:3px solid $color-verde;
    background-color: $color-rosado;
}

/* maps */
$colores : (
    $color-verde-Boton:#7cd2b0,
    $color-meteorito:gold,
);


$noticias_cards: (
        noticia_1: 3px solid #bd3b3d,
        noticia_2: 3px solid #e75943,
        noticia_3: 3px solid rgb(248, 148,164),
);


@each $item, $tonalidad in $noticias_cards{
   .#{$item} {
       border: $tonalidad;
       &:hover {
            @extend %sombra;
        }
   }
}

$colores_iconos:(
        facebook: #6794ff,
        instagram: #ed4289,
        youtube: #f9471a,
);

@each $item, $tonalidad in $colores_iconos{
   .#{$item} {
      color: $tonalidad;
   }
}



