@import "./variables";
@import "../scss/layout-serepiten/header";
@import "../scss/layout-serepiten/footer";


*{
    margin: 0;
    padding: 0;
}

body {
  font-style: normal;
  color: black;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  margin:0;
}

//arreglar//

/* MAIN */
main{
 position: relative;
}

.barraNavegar{
    position: relative;
}

.elquecontiene_alosdos{
    @include flex (flex, space-evenly, center);
}

.lista-capacitaciones{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    font-family: $letra-nunito-sans;
    li {
        &:hover { 
            height: 50px;
            color:$color-rojo;
        }
    }
}

//mediasQueries algunas//

@media screen and (max-width: 768px){
  footer.footerClass{
      display: none;
  }
  header{
      display:flex;
      justify-content: space-between;
      text-align: center;
  }
  .logo {
      display:none;
  }
  
  .ingresar{
      display: flex;
      font-family: $letra-patrick-2;
      
  }
  article{
      display:none;
  }
.contacto1 {
    display: block;
}
  .card-group{
      display:none;
  }
  .mapa-capacitaciones{
      display:none;
  }
  .card-group{
      display:none;
  }
}

@media(min-width: 40rem) { 
  .cards__item {
    width: 50%;
    display: flex;
    padding: 1rem;
  }
}
@media(min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
    display: flex;
    padding: 1rem;
  }
}



.blog-card {
  @media (min-width: 640px) {
      flex-direction: row;
      max-width: 700px;
      .meta {
        flex-basis: 40%;
        height: auto;
      }
      .description {
        flex-basis: 60%;
        &:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1;
        }
      }
      &.alt {
        flex-direction: row-reverse;
        .description {
          &:before {
            left: inherit;
            right: -10px;
            transform: skew(3deg)
          }
        }
        .details {
          padding-left: 25px;
        }
      }
    }
}
//links a//
a {
    font-style: oblique;
    font-size: larger;
    text-decoration: none;
    &:hover {
      color: $color-verde-Boton;
      }
}

//info en pag contacto//
.contenedor_contacto{
  display: flex;
  justify-content: center;
}
.contacto1{
  padding: 7px;
  border-radius: 7px;
  background-color: #00538b17;
  box-shadow: 0 10px 20px -10px rgba(165, 5, 5, 0.367);
}

.boton_contacto{
  background-color: #ff000067;
} 




.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 10px 20px -10px rgba(165, 5, 5, 0.367);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: $letra-nunito-sans;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    a {
      color: inherit;
      &:hover {
        color: $color-rosado;
      }
    }
    &:hover {
      .photo {
        transform: scale(1.3) rotate(3deg);
      }
    }
    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      transition: transform .2s;
    }
    .details,
    .details ul {
      margin: auto;
      padding: 0;
      list-style: none;
    }
    li  {
      font-family: $letra-nunito;
      font-size: 15px;
    }
  h3  {
  font-family: $letra-patrick-2;
  font-size: 20px;
  color: #00548b;
  text-align: center;
  }
  p{
    font-family: $letra-nunito;
    font-size: 15px;
  }
}

.details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    a {
      text-decoration: none;
    }
}

.description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h2 {
      font-family: $letra-nunito;
    }
    h3 {
        .texto_1{
          line-height: 1;
          margin: 0;
          font-size: 25px;
        }
        .texto_2{
          font-size: 20px;       
          margin-top: 5px;
          text-align: center;
        }
    }
  }


 .texto_quieroserparte {
    font-size: 15px;
    font-family: $letra-nunito-sans;
    color: $gray-dark;
    text-align: center;
}


//Pag Principal mayormente//
.section-principal {
    display: flex;
    align-items: center;
}

.carousel slide{
  width: 100%;
  height: 100%;
}

.pCentro{
    text-align: center;
    font-family: $letra-Patrick;
    font-size: 45px;
    color: rgb(66, 66, 130);
}
.texto_centro{
  text-align: center;
  padding: 5px;
  font-family: $letra-nunito-sans;
  font-size: 20px;
}

.imgCentro{
    border:5px ridge $color-violeta;
    border-radius: 9px;
    margin: 10px;
}

/* tableronoticias */

.noticia{
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
    margin:1rem;
    box-shadow: 0 10px 20px -10px rgba(165, 5, 5, 0.367);
}

.meteorito_color{
    color:gold;
}

.tituloTabla{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    font-family: $letra-patrick-2;
    font-weight: lighter;
    color: rgb(66, 66, 130);
}

.estiloImg{
    width: 60%;
    margin: 15px 10px;
}
.estilo_texto_Noticias{
    text-align: center;
    font-family: $letra-nunito;
    font-size: 20px;
}

.ingresar{
  color: rgb(255, 255, 255);
   font-size: 25px;
   font-weight: lighter;
   font-family: $letra-patrick-2;
   &:hover{
     color:$color-verde-Boton;
   }
}

.mapa-capacitaciones{
    display: flex;
    right: 0;
    box-shadow: 0 10px 20px -10px rgba(165, 5, 5, 0.367);
}
.sombra1{ 
  box-shadow: 0 10px 20px -10px rgba(165, 5, 5, 0.367);
  }
 
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

//cards que se ponen blancas CAPACITACIONES//
.btn {
  background-color: white;
  border: 1px solid $gray-light;
  color: $gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(165, 5, 5, 0.367);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: saturate(200%)
      sepia(150%);
      
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(100%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%;
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

//cardsimagenesCENTRO//
.card__image--mecanica {
  background-image: url(../img/talleres/rueda2.png);
}

.card__image--torneria {
  background-image: url(../img/talleres/torneria2.png);
}

.card__image--panaderia{
  background-image: url(../img/talleres/pandulce2.png);
}
.card__image--huerta{
  background-image: url(../img/talleres/lechuga2.png);
}

.card__image--aceites {
  background-image:url(../img/talleres/aceite2.png)
}
.card__image--barberia {
  background-image:url(../img/talleres/barberia2.png);
}
//cards imagenes OESTE//
.card__image--barberiaypeluqueria{
  background-image: url(../img/talleres/oeste/barberia2.jpg);
}

.card__image--paisajismo {
  background-image: url(../img/talleres/oeste/huerta.jpg);
}

.card__image--jueguetesMadera{
  background-image: url(../img/talleres/oeste/madera.jpg);
}
.card__image--panificacion{
  background-image: url(../img/talleres/oeste/panificacion1.jpg);
}

.card__image--zapatos{
  background-image:url(../img/talleres/oeste/zapatos1.jpg);
}
.card__image--pasteleria{
  background-image:url(../img/talleres/oeste/pasteleria1.jpg)
}

//cards imagenes NORTE//
.card__image--auxiliarDeportivo {
  background-image: url(../img/talleres/norte/arbitraje.jpg);
}

.card__image--cuidadoresNinos {
  background-image: url(../img/talleres/norte/cuidadoresninos.jpg);
}

.card__image--masasFinas{
  background-image: url(../img/talleres/norte/masasfinas.jpg);
}
.card__image--restauracion{
  background-image: url(../img/talleres/norte/restauracionmuebles.jpg);
}

.card__image--bloquera{
  background-image:url(../img/talleres/norte/taller1.jpg)
}
.card__image--barberia {
  background-image:url(../img/talleres/barberia2.png);
}

//card imagenes SUR //

.card__image--artesanias{
  background-image: url(../img/talleres/sur/ceramica1.jpg);
}

.card__image--composicion {
  background-image: url(../img/talleres/sur/composicionmusical1.jpg);
}

.card__image--costura{
  background-image: url(../img/talleres/sur/costura1.jpg);
}
.card__image--cremas{
  background-image: url(../img/talleres/sur/cremasnaturales1.jpg);
}

.card__image--electricidadAutos{
  background-image:url(../img/talleres/sur/electricidadbasicamotores1.jpg)
}
.card__image--veladores{
  background-image:url(../img/talleres/sur/veladoresartesanales1.jpg);
}

.card__title {
  color: $gray-dark;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $letra-patrick-2;
  color:$color-nav-bar;
  text-align: center;
}

.card__text {
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-family: $letra-nunito;
}

//REGISTRARSE//
.card-group {
  display: flex;
  justify-content: space-between;
}
.main_login{
  padding: 16px;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(../img/ventilador.jpg) no-repeat center;
	box-shadow: 0 10px 20px -10px rgba(165, 5, 5, 0.367);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(105, 125, 176, 0.759); 
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

.login-html .tab{
	font-size:20px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:rgb(145, 169, 248)
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}

.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255, 255, 255, 0.595);
}

.group-2{
  align-items: center;
    justify-content: center;
    display: flex;
}
.boton_ingresar{
  background:#bd3b3d;
  border-radius: 7px;
  padding: 5px;
}

.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgb(255, 255, 255);
	font-size:12px;
}

.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(117, 79, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#8f3738;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
.hr{
	height:5px;
	margin:30px 0 30px 0;
	background:rgba(255,255,255,.2);
  
}

.foot-lnk{
	text-align:center;
  font-weight:600;
  color: azure;
  a{
    color: rgb(248, 148,164);
    &:hover{
      color:#8f3738;
    }
  }
}

//cards que se mueven OPINIONES//

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
   justify-content: center;
  }
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1 rem;
}

.back{
  background: #00548b;
  background: -webkit-linear-gradient(45deg,  #c54b47 0%,#00548b 100%);
  background: -o-linear-gradient(45deg,  #c54b47 0%, #00548b 100%);
  background: linear-gradient(45deg,  #c54b47 0%,#00548b 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .5;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 30px;
  margin-bottom: 1rem;
  position: relative;
  font-family: $letra-Patrick;
}

.front .inner p:after{
  content: '';
  width: 2rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255, 255, 255, 0.784);
  font-family: $letra-patrick-2;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 992px){
  .wrapper{
    display:none;
  }
}
@media screen and(max-width:992px){
  .info_mobile{
    display:grid;
  }
}
@media screen and(min-width:992px){
  .info_mobile{
    display:none;
  }
}

//profile//
.selectpicker {
  background-color: white;
  padding: 2px;
  font-size: 20px;
  border: 1px solid $color-verde-Boton;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
.selectpicker:hover, .selectpicker:focus {
  background-color: #7cd2b051;
}

img .img-fluid{
   max-width: 100%;
}
.text-muted {
  font-family: $letra-nunito-sans;
  font-size: 15px;
}
.nombre_perfil{
  font-family: $letra-patrick-2;
  font-size: 35px;
}
.boton_certificado{
  background-color: $color-verde-Boton;
  font-family: $letra-nunito-sans;
  color:#000;
  &:hover{
    background-color: #57bb93;
  }
}
.boton_CV{
  background-color: #5f8acc86;
  font-family: $letra-nunito-sans;
  color:#000;
  &:hover{
    background-color: #0564a37b;
  }
}
.date_style{
  color: #8f3738;
}
.profile_capacitaciones{
  text-align: center;
  font-family: $letra-Patrick;
  font-size: 35px;
  color: #00548b;
}
.profile_subtitulo{
  text-align: center;
  font-family: $letra-nunito-sans;
  font-size: 15px;
}
.boton_perfil{
  background-color: $color-nav-bar;
  color:#000;
  font-family: $letra-nunito-sans;
  &:hover{
    background-color: #00538bd0;
    font-weight: bolder;
  }
}
.li_1{
  background-color:#c54b477e;
}
.li_2{
  background-color: #00538b7b;
}
.li_3{
 background-color: #577db681;
}
.list-group li{
  font-family: $letra-nunito-sans;
}
.primer_nivel_experiencia {
  font-family: $letra-Patrick;
  font-size: 25px;
  color:#00548b
}
.primer_nivel_experiencia-2 {
  font-family: $letra-Patrick;
  font-size: 25px;
  color:$color-nav-bar;
}
.texto_profile{
  font-family: $letra-nunito-sans;
  font-size: 15px;
}
.progreso p{
  font-family: $letra-nunito-sans;
  font-size: 15px;
}
//Decreto//

.texto_general p{
font-family: $letra-nunito;
font-size:20px;
}
