@import "./variables";
@import "../scss/layout-serepiten/header";
@import "../scss/layout-serepiten/footer";



*{
    margin: 0;
    padding: 0;
}

/* MAIN */
main{
 position: relative;
}

.barraNavegar{
    position: relative;
}

.elquecontiene_alosdos{
    @include flex (none, justify-content, center);
    display: flex;
}
.lista-capacitaciones{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    li {
        &:hover { 
            height: 70px; width: 70px;
            color:$color-verde;
        }
    }
}


a {
    font-style: oblique;
    color: $color-rojo;
    font-size: larger;
    text-decoration: none;
}



.section-principal {
    display: flex;
}


.centro{
    text-align: center;
    padding: 20px;
}


.pCentro{
    text-align: center;
    font-family: $letra-Patrick;
    font-size: 45px;
    color: $color-violeta;
}

.imgCentro{
    border:5px ridge $color-violeta;
    border-radius: 9px;
    margin: 10px;
}

/* tableronoticias */

.noticia{
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
    margin:1rem;
}

.meteorito_color{
    color:gold;
}

.tituloTabla{
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    font-family: $letra-Patrick;
    font-weight: bold;
    color: map-get($colores_iconos, youtube);
}
.estiloImg{
    width: 60%;
    margin: 15px 10px;
}
.estiloNoticias{
    text-align: center;
}
 /* letras */

.ingresar{
    color:red;
    font-size: 25px;
   font-weight: lighter;
}

.mapa-capacitaciones{
    display: flex;
    right: 0;
}

@media screen and (max-width: 768px){
    footer.footerClass{
        display: none;
    }
    header{
        display:flex;
        justify-content: space-between;
    }
    .logo {
        width: 145px;
    }
    h1{
        display:none;
    }
    .ingresar{
        display: flex;
        border-radius: 5px;
        padding: 5px;
        background-color: $color-verde;
        color:black;
    }
 .card-group{
     display:none;
 }
 .mapa-capacitaciones{
     display:none;
 }
}
@media screen and (max-width: 900px){
    .card-group{
        display:none;
    }
}
/* .card-img-top{
    width: 50%;
} */
.carousel slide{
    width: 100%;
    height: 100%;
}
.imagen_mapa{
    display: flex;
    justify-content: space-around;
}



*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: $gray;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid $gray-light;
  //border-radius: 1rem;
  color: $gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(200%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(100%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--mecanica {
  background-image: url(../img/talleres/rueda2.png);
}

.card__image--torneria {
  background-image: url(../img/talleres/torneria2.png);
}

.card__image--panificacion{
  background-image: url(../img/talleres/pandulce2.png);
}
.card__image--huerta{
  background-image: url(../img/talleres/lechuga2.png);
}

.card__image--aceites {
  background-image:url(../img/talleres/aceite2.png)
}
.card__image--barberia {
  background-image:url(../img/talleres/barberia2.png)
}

.card__title {
  color: $gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

